/*CSS for the About button */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    z-index: 99999;
    overflow: auto;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #262626; 
    color:white;
}
/*CSS for the To-Do button */
.todoDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    overflow: auto;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border: 10px white !important; 
}
.todoDialog:target {
    opacity:1;
    pointer-events: auto;
}

.todoDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #262626; 
    color:white;
    margin-top:5px;
    margin-left: 5px;
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 8px;
    top: 1px; 
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
a{
    text-decoration: none;
}

/*to do list */
.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:white;}

/*ol li:nth-child(even){background: #dfdfdf;} */

.strike{text-decoration: line-through;}
li:hover{
  cursor: pointer;
 } 
